<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>wfm-ionic-lib ❤️</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list no-lines>
        <ion-item-divider>
            &lt;wf-status-message&gt;
        </ion-item-divider>
        <ion-item text-wrap>
            <pre>icon?: string</pre>
        </ion-item>
    </ion-list>
    <wf-status-message icon="pizza">
        Hier steht was.
        <br>
        <button ion-button>Drück mich!</button>
    </wf-status-message>

    <ion-list no-lines>
        <ion-item-divider>
            &lt;wf-app-version&gt;
        </ion-item-divider>
        <ion-item text-wrap>
            Version: <wf-app-version></wf-app-version>
        </ion-item>
    </ion-list>
</ion-content>